{
    "agentid": "Water Draw Agent",
    "message": "Control water draws for HPWH testing...",
	"interval": 60,
	"0": "low",
    "1": "low",
	"2": "low",
	"3": "low",
	"4": "low",
	"5": "low",
	"6": "low",
	"7": "low",
	"8": "medium",
	"9": "medium",
	"10": "medium",
	"11": "medium",
	"12": "high",
	"13": "high",
	"14": "high",
	"15": "high",
	"16": "high",
	"17": "high",
	"18": "medium",
	"19": "medium",
	"20": "medium",
	"21": "medium",
	"22": "medium",
	"23": "low"
}
